<!DOCTYPE html>
<html lang="en">
    <style>
        td {
        padding: 5px 10px;
        }
    </style>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Dashboard - SB Admin</title>
        <link href="../static/styles/styles.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css"> 
        <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"> 
        <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.1.0/css/buttons.dataTables.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-2" href="index.html">SQL SERVER MSTXHG</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar-->
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Main</div>
                            <a class="nav-link" href="index.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard 
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <div class="card mb-4">
                            <div class="card-header">
                            </div>
                            <div class="card-body">
                                <div class="mb-3 mt-3">
                                    Toggle column: <a class="toggle-vis" data-column="0">Toko</a> - <a class="toggle-vis" data-column="1">R-Type</a> - <a class="toggle-vis" data-column="2">Tanggal</a> - <a class="toggle-vis" data-column="3">PLU</a> - <a class="toggle-vis" data-column="4">Quantity</a> - <a class="toggle-vis" data-column="5">Harga</a>
                                </div>
                                <table class="table" id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            {%for x in header%}
                                                {%for y in x%}
                                                    <th>{{ y }}</th>
                                                {%endfor%}
                                            {%endfor%}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%for i in value%}
                                            <tr>
                                            {%for j in i%}
                                                <td>{{ j }}</td>
                                            {%endfor%}
                                            </tr>
                                        {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="../static/jquery-3.5.1.js"></script>
        <script src="../static/jquery.dataTables.min.js"></script>
        <script src="../static/dataTables.buttons.min.js"></script>
        <script src="../static/jszip.min.js"></script>
        <script src="../static/pdfmake.min.js"></script>
        <script src="../static/vfs_fonts.js"></script>
        <script src="../static/buttons.html5.min.js"></script>
        <script src="../static/buttons.print.min.js"></script>
        <script>
        $(document).ready(function () {
            // Setup - add a text input to each footer cell
            $('#datatablesSimple thead tr')
                .clone(true)
                .addClass('filters')
                .appendTo('#datatablesSimple thead');
        
            var table = $('#datatablesSimple').DataTable({
                scrollX: true,
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ],
                orderCellsTop: true,
                fixedHeader: false,
                initComplete: function () {
                    var api = this.api();
        
                    // For each column
                    api
                        .columns()
                        .eq(0)
                        .each(function (colIdx) {
                            // Set the header cell to contain the input element
                            var cell = $('.filters th').eq(
                                $(api.column(colIdx).header()).index()
                            );
                            var title = $(cell).text();
                            $(cell).html('<input type="text" placeholder="' + title + '" />');
        
                            // On every keypress in this input
                            $(
                                'input',
                                $('.filters th').eq($(api.column(colIdx).header()).index())
                            )
                                .off('keyup change')
                                .on('keyup change', function (e) {
                                    e.stopPropagation();
    
                                    // Get the search value
                                    $(this).attr('title', $(this).val());
                                    var regexr = '({search})'; //$(this).parents('th').find('select').val();
        
                                    var cursorPosition = this.selectionStart;
                                    // Search the column for that value
                                    api
                                        .column(colIdx)
                                        .search(
                                            this.value != ''
                                                ? regexr.replace('{search}', '(((' + this.value + ')))')
                                                : '',
                                            this.value != '',
                                            this.value == ''
                                        )
                                        .draw();
        
                                    $(this)
                                        .focus()[0]
                                        .setSelectionRange(cursorPosition, cursorPosition);
                                });
                        });
                },
            });

            $('a.toggle-vis').on( 'click', function (e) {
                e.preventDefault();
        
                // Get the column API object
                var column = table.column( $(this).attr('data-column') );
        
                // Toggle the visibility
                column.visible( ! column.visible() );
            });
        });
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="../static/scripts.js"></script>
    </body>
</html>
